# do not include imported modules in version control
node_modules

# Keep environment variables out of version control
.env

# Keep tests coverage out of version control
coverage

# Do not store LOG files in the VCS
*.log

src/generated/*
